
<h1>Calculate New Ratings</h1>

<%= form_tag( {:controller => 'home', :action => 'my_rank' }, :method => 'get') do %>
<p>
  Winner Rating:
  <%= text_field_tag :winner_rating, @winner_rating %><br />
</p>
<p>
  Loser Rating:
  <%= text_field_tag :loser_rating, @loser_rating %><br />
</p>
<p>
  <%= submit_tag "Generate New Ratings" %>
</p>
<% end %>
<p>
  <%= 'New Winner Rating:  ' + @winner_rating.to_s if @winner_rating %><br />
</p>
<p>
  <%= 'New Loser Rating:  ' + @loser_rating.to_s if @loser_rating %><br />
</p>

<p>
<%= link_to 'Players Listing', players_path %>
</p>
