
<h1>Calculate New Ratings</h1>

<%= form_tag( {:controller => 'home', :action => 'my_rank' }, :method => 'get') do %>
<p>
  Winner Rating:
  <%= text_field_tag :winner_rating %><br />
</p>
<p>
  Loser Rating:
  <%= text_field_tag :loser_rating %><br />
</p>
<p>
  <%= submit_tag "Generate New Ratings" %>
</p>
<% end %>
<p>
  <%= @new_winner_rating %><br />
</p>
<p>
  <%= @new_loser_rating %><br />
</p>
