<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Rating:</b>
  <%= @player.rating %>
</p>

<p>
  <b>Wins:</b>
  <%= @player.wins.count %>
</p>

<p>
  <b>Losses:</b>
  <%= @player.losses.count %>
</p>

<table>
	<tr>
		<th>Result</th>
		<th>Rating</th>
		<th>Date</th>
	</tr>
	<% @player.ranks.find(:all, :order => "created_at desc", :limit => 10).each do |rank| %>
		<tr>
			<td><%= rank.match.winner == @player.id ? "W" : "L" %></td>
			<td><%= rank.previous_rating %></td>
			<td><%= rank.created_at %></td>
		</tr>
	<% end %>
</table>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
